* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
}
.hero {
  background-image: url(./assets/images/bg.jpg);
  height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 10px;
}
.hero .overlay {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
}
.hero .nav {
  position: relative;
  z-index: 1;
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.hero .nav span img {
  width: 145px;
}

.hero .nav .bttn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.lang {
  background: rgba(42, 42, 42, 0.5);
  padding: 7px 25px;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  border: 1px solid gray;
  display: flex;
  gap: 10px;
}

.hero .nav .bttn1 .sign-in {
  background-color: rgb(224, 21, 21);
  padding: 7px 15px;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}
.hero .content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 73px);
  color: rgba(255, 255, 255);
}

.hero .content .t1,
.hero .content .t2 {
  font-size: 56px;
  font-weight: 700;
  line-height: 65px;
}

.hero .content .t3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 50px;
}

.hero .content .t4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 60px;
}

.hero .content .form {
  display: flex;
  gap: 7px;
  width: 100%;
  justify-content: center;
  padding: 0 10px;
}
.hero .content .form input[type="text"] {
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: 1px solid rgb(109, 108, 108);
  border-radius: 4px;
  padding: 15px;
  width: 100%;
  max-width: 385px;
  background: rgba(23, 23, 23, 0.7);
}
.hero .content .form button {
  font-size: 24px;
  font-weight: 600;
  color: white;
  background-color: rgb(224, 21, 21);
  padding: 15px;
  width: 100%;
  max-width: 200px;
  border: none;
  border-radius: 4px;
  display: flex;
  gap: 20px;
}
.hero .separation {
  /* height: 9px;
  background-color: #e20b1a; */
  position: absolute;
  bottom: -22px; /* Subtle overlap to prevent a tiny 1px gap */
  left: 0;
  width: 100%;
  line-height: 0;
}
.separation svg {
  width: 100%;
  height: auto;
}
.first {
  background-color: #000000;
  color: white;
  padding-top: 40px;
}
.first .heading-first {
  font-size: 24px;
  font-weight: 600;
  max-width: 1220px;
  margin: 0 auto 20px auto;
}
.trending-first {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 10px;
  flex-wrap: wrap;
}
.trending-first .webp1 img {
  border-radius: 8px;
}
.heading-second {
  padding-top: 12px;
}
.reasons-second {
  gap: 20px;
}
.card1 {
  background: linear-gradient(145deg, #181528 0%, #0f0c1b 100%);
  border-radius: 15px;
  max-width: 290px;
  padding: 20px;
  height: 240px;
}
.card1 .det1 {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 15px;
}
.card1 .desc1 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
}
.card1 .svg1 {
  padding-top: 88px;
  padding-left: 240px;
}
.card2 .svg2 {
  padding-top: 53px;
  padding-left: 240px;
}
.card3 .svg3 {
  padding-top: 88px;
  padding-left: 240px;
}
.card4 .svg4 {
  padding-top: 46px;
  padding-left: 240px;
}
.heading-third {
  padding-top: 12px;
}
.faq-third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.faq1 {
  background-color: #2d2d2d;
  padding: 28px;
  width: 90%;
  max-width: 1220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.faq1 .q1 {
  font-size: 24px;
  font-weight: 500;
}
.faq1:hover {
  background-color: #414141;
}
.fourth {
  padding-top: 70px;
}
.fourth .last-desc {
  text-align: center;
}
.fourth .submit-email {
  display: flex;
  justify-content: center;
  padding: 12px;
  gap: 8px;
  width: 100%;
}
.fourth .submit-email input {
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: 1px solid rgb(109, 108, 108);
  border-radius: 4px;
  padding: 15px;
  width: 100%;
  max-width: 560px;
  background: rgba(23, 23, 23, 0.7);
}
.fourth .submit-email button {
  font-size: 24px;
  font-weight: 600;
  color: white;
  background-color: rgb(224, 21, 21);
  padding: 15px;
  width: 100%;
  max-width: 200px;
  border: none;
  border-radius: 4px;
  display: flex;
  gap: 20px;
}
.footer {
  padding-top: 93px;
}
.foot {
  padding-left: 130px;
  color: rgba(255, 255, 255, 0.7);
}
.foot a {
  color: rgba(255, 255, 255, 0.7);
}
.page-info {
  padding-top: 45px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80vw;
}
.page-1 {
  display: flex;
  flex-direction: column;
  padding-left: 130px;
}
.page-1 a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
}
.last-button {
  padding-left: 125px;
  padding-top: 50px;
}
.end {
  color: rgba(255, 255, 255, 0.7);
  padding-left: 130px;
  padding-top: 35px;
  font-size: 14px;
  font-weight: 400;
}
.protected {
  color: rgba(255, 255, 255, 0.7);
  padding-left: 130px;
  padding-top: 42px;
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 80px;
}
@media screen and (max-width: 1250px) {
  .first .heading-first {
    max-width: 1110px;
  }
}
@media screen and (max-width: 1165px) {
  .first .heading-first {
    max-width: 900px;
  }
}
@media screen and (max-width: 928px) {
  .first .heading-first {
    max-width: 680px;
  }
}
@media screen and (max-width: 820px) {
  .fourth .submit-email {
    flex-direction: column;
    align-items: center;
  }
  .fourth .submit-email input {
    padding: 12px;
    max-width: 675px;
  }
  .fourth .submit-email button {
    font-size: 18px;
    padding: 12px;
    max-width: 155px;
  }
  .page-info {
    grid-template-columns: 1fr 1fr;
  }
  .faq1 {
    padding: 15px;
  }
  /* .first .heading-first {
    padding-left: 120px;
    padding-bottom: 25px;
  } */
  .hero .nav span img {
    width: 125px;
  }
  .hero .content .t1,
  .hero .content .t2 {
    font-size: 50px;
    line-height: 60px;
  }
  .hero .content .t3 {
    font-size: 18px;
    line-height: 45px;
  }
  .hero .content .t4 {
    font-size: 15px;
    line-height: 55px;
  }
}

@media screen and (max-width: 690px) {
  .first .heading-first {
    max-width: 440px;
  }
}
@media screen and (max-width: 453px) {
  .first .heading-first {
    max-width: 205px;
  }
}

@media screen and (max-width: 650px) {
  .hero .nav {
    width: 90vw;
  }
  .hero .nav span img {
    width: 100px;
  }
  .hero .content .t1,
  .hero .content .t2 {
    font-size: 40px;
    line-height: 50px;
  }
  .hero .content .t3 {
    font-size: 16px;
    line-height: 40px;
  }
  .hero .content .t4 {
    font-size: 14px;
    line-height: 57px;
  }
  .faq1 {
    padding: 12px;
  }
  .faq1 .q1 {
    font-size: 20px;
  }
  .hero .content .form {
    flex-direction: column;
    align-items: center;
  }
  .hero .content .form input[type="text"] {
    padding: 12px;
    max-width: 550px;
  }
  .hero .content .form button {
    font-size: 21px;
    padding: 12px;
    max-width: 175px;
    gap: 17px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 600px) {
  .page-info {
    grid-template-columns: 1fr;
  }
  .foot {
    padding-left: 70px;
  }
  .page-1 {
    padding-left: 70px;
  }
  .last-button {
    padding-left: 70px;
  }
  .end {
    padding-left: 70px;
  }
  .protected {
    padding-left: 70px;
  }
}
@media screen and (max-width: 495px) {
  .hero .nav span img {
    width: 85px;
  }
  .lang {
    padding: 3px 11px;
    font-size: 15px;
    gap: 8px;
  }
  .hero .nav .bttn1 .sign-in {
    padding: 5px 11px;
    font-size: 13px;
  }
  .hero .content .t1,
  .hero .content .t2 {
    font-size: 35px;
    line-height: normal;
    padding: 4px;
    text-align: center;
  }
  .hero .content .t3 {
    font-size: 14px;
  }
  .hero .content .t4 {
    padding-top: 20px;
    line-height: normal;
    margin-bottom: 20px;
    text-align: center;
  }
  .faq1 {
    padding: 10px;
  }
  .faq1 .q1 {
    font-size: 17px;
  }
}
